<nav
  class="nav justify-content-center navbar-light fixed-top bg-light"
>
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#">Grades Students <span class="visually-hidden">(current)</span></a
    >
    <div class="nav-item nav-link" routerLink="/add-student" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Add Students</div
    >
    <a class="nav-item nav-link" routerLink="/list-student"
    >List Students</a
    >
  </div>
</nav>
<div class="container">
  Content
  <router-outlet></router-outlet>
</div>
